* {
	box-sizing: border-box;
}
.main-header,
h2,
ol,
ul,
p {
	color: rgb(60, 59, 59);
}

ol > li::marker,
ul > li::marker {
	font-weight: bold;
}

* {
	font-family: helvetica, sans-serif;
}

p,
ol,
ul {
	font-size: 18px;
}

img {
	height: auto;
	width: 550;
}

.index {
	text-align: center;
	font-size: 40px;
}

.pages {
	font-size: 32px;
	padding: 0px;
	border: 0;
	margin: 40px 0px;
	text-align: center;
}

.cookies,
.fried-shrimp,
.pancakes {
	background-color: rgb(169, 167, 201);
	border-radius: 25px;
	padding: 8px;
}
